<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/books/css/normalize.css">
    <link rel="stylesheet" href="../../static/books/css/all-pages.css">
    <link rel="stylesheet" href="../../static/books/css/home.css">
    <link rel="icon" href="../../static/books/images/assets/icon/favicon.png" type="image/x-icon">
    <title>BookMov</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <a class="logo" href="{% url 'main'%}" title="BOOKMov">BOOKMov</a>
            <div>
                <div class="dropdown">
                    {% if request.user.is_authenticated %}
  <button class="user"> {{user.username}}</button>
                     {% else %}
  <button class="user"><a href="{% url 'login' %}"></a></button>
                    {% endif %}
  <div class="dropdown-content">
    <a href="{% url 'add_post' %}">Добавить книгу</a>
    <a href="{% url 'logout' %} ">Выход </a>
  </div>
</div>
            </div>
        </div>
        <h1>BOOKMov</h1>
    </header>

    <main>
        <div class="wrapper">
            <form action="{% url 'search_results' %}" method="get">
                <label>
                    <input name="q" type="text" class="search-area" placeholder="Search...">
                </label>
                <input class="search-button" type="submit" value="найти">
            </form>
        <div class="posts" {% for p in page_object %}>
            <h2><a href="{{ p.get_absolute_url }}" ><img src="{{p.book_image.url}}"/></a>
            <p> {{p.book_title}}</p>
                <p>{{p.author}}</p>
            </h2>
            {% endfor %}
        </div>
     {% for posts in page_object %}
{% endfor %}
{% block content %}
{% endblock %}
<div class="pagination">
    <span class="step-links">
        {% if page_object.has_previous %}
            <a href="?page=1">&laquo; начало</a>
            <a href="?page={{ page_object.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_object.number }} из {{ page_object.paginator.num_pages }}.
        </span>

        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">следующая</a>
            <a href="?page={{ page_object.paginator.num_pages }}">предыдущая &raquo;</a>
        {% endif %}
    </span>
</div>




        </div>
    </div>
    </main>

</body>
</html>

