<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../../static/books/css/password_reset_confirm.css">
    <link rel="icon" href="../../static/books/images/assets/icon/favicon.png" type="image/x-icon">
    <title>Введите новый пароль</title>
  </head>
    <body>
    <main>
        <div class="main-wrapper">
            <div><h1><a class="logo" href="#">BOOKMov</a></h1></div>
            <div class="form-wrapper">
                <div class="form-content">
                    <p>Введите новый пароль</p>
                    <p1> Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания. </p1>
                <form action="" method="post"> {% csrf_token %}
                  <label for="id_new_password1"></label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                           class="form-password-new" placeholder="Новый пароль" required id="id_new_password1">
                      <label for="id_new_password2"></label>
                        <input type="password" name="new_password2" autocomplete="new-password"
                               class="form-password-new2" placeholder="Подтвердите пароль" required id="id_new_password2">
                          <input class="input-button-change-password" type="submit" value="Изменить мой пароль">
                </form>
                </div>
            </div>
        </div>
    </main>
    </body>
</html>