<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/books/css/password_reset_complete.css">
    <link rel="icon" href="../../static/books/images/assets/icon/favicon.png" type="image/x-icon">
    <title>Восстановление пароля</title>
</head>
<body>
    <main>
        <div class="main-wrapper">
            <div><h1><a class="logo" href="#">BOOKMov</a></h1></div>
            <div class="form-wrapper">
                <div class="form-content">
                    <p>Восстановление пароля завершено</p>
                    <p1>Ваш пароль был сохранен. Теперь вы можете войти.</p1>
                    <form method="post" action="{% url 'login' %}"> {% csrf_token %}
                            <input class="input-button-enter-new" type="submit" value="Войти">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>