
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/books/css/password_reset_done.css">
    <link rel="icon" href="../../static/books/images/assets/icon/favicon.png" type="image/x-icon">
    <title>Восстановление пароля</title>
</head>
<body>
    <main>
        <div class="main-wrapper">
            <div><h1><a class="logo" href="{% url 'login' %}">BOOKMov</a></h1></div>
            <div class="form-wrapper">
                <div class="form-content">
                    <p>Письмо отправлено</p>
                    <p1>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты
                        (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
                        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым
                        Вы зарегистрировались, и проверьте папку со спамом.
                    </p1>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
