<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../../static/books/css/registration.css" >
    <link rel="icon" href="../../static/books/images/assets/icon/favicon.png" type="image/x-icon">
    <title>Регистрация</title>
</head>
<body>
    <main>
        <div class="main-wrapper">
            <div><h1><a class="logo" href="#">BOOKMov</a></h1></div>
            <div class="form-wrapper">
                <div class="form-content">
                    <p>Создать аккаунт</p>
                        <form action="" method="post"> {% csrf_token %}
                            <label for="id_username">Логин:</label>
                                <input class="input-username-R" type="text" maxlength="40" name="username" autofocus required id="id_username" placeholder="Логин">
                                    <label for="id_email">Email:</label>
                                        <input class="input-email-R" type="email" maxlength="40" name="email" required id="id_email" placeholder="Адрес электронной почты">
                                            <label for="id_password1">Пароль:</label>
                                                <input class="input-password-R" type="password" maxlength="40" name="password1" required id="id_password1" placeholder="Пароль">
                                                    <label for="id_password2">Повтор пароля:</label>
                                                        <input class="input-password-R2" type="password" maxlength="40" name="password2" required id="id_password2" placeholder="Повтор пароля">
                                                            <input class="input-button-registration" type="submit" value="Регистрация">
                        </form>
                 </div>
            </div>
        </div>
    </main>
</body>
</html>

